<div class="container main-container">

  <div class="d-flex justify-content-between">
    <h2>Categoria</h2>
    <div class="d-flex justify-content-between">
      <button class="btn btn-outline-danger"
              type="button" [routerLink]="['/categorias']">
        <i class="fas fa-ban" style="margin-right: 5px;"></i> Cancelar
      </button>
    </div>
  </div>


  <hr>

  <div class="row">

    <div class="col-md-5">

      <form (ngSubmit)="guardarCategoria()" #forma="ngForm">

        <div class="form-group"
             [ngClass]="{ 'has-danger' : nombre.errors?.minlength || nombre.errors?.required && nombre.touched}">
          <label>Nombre</label>
          <input [(ngModel)]="categoria.nombre"
                 type="text" name="nombre"
                 class="form-control" pattern="^[a-zA-Z_-]+(?:\s+[a-zA-Z_-]+)*$"
                 placeholder="Nombre" autocomplete="off"
                 required minlength="7" #nombre="ngModel">
                 <br>
                 <div *ngIf="nombre.errors?.required && nombre.touched"
                      class="alert alert-danger form-control-feadback"
                      role="alert">
                  <strong>Este Campo es Requerido</strong>
                </div>
                 <div *ngIf="nombre.errors?.minlength"
                      class="alert alert-danger form-control-feadback"
                      role="alert">
                  <strong>Minimo {{ nombre.errors.minlength.requiredLength }} caracteres</strong>
                </div>

        </div>

        <div class="form-group"
             [ngClass]="{ 'has-danger' : descripcion.errors?.minlength || descripcion.errors?.required && descripcion.touched}">
          <label>Descripción</label>
          <input [(ngModel)]="categoria.descripcion"
                 type="text" name="descripcion"
                 class="form-control" pattern="^[a-zA-Z_-]+(?:\s+[a-zA-Z_-]+)*$"
                 placeholder="Descripcion" autocomplete="off"
                 required minlength="7" #descripcion="ngModel">
                 <br>
                 <div *ngIf="descripcion.errors?.required && descripcion.touched"
                      class="alert alert-danger form-control-feadback"
                      role="alert">
                  <strong>Este Campo es Requerido</strong>
                </div>
                <div *ngIf="descripcion.errors?.minlength"
                     class="alert alert-danger form-control-feadback"
                     role="alert">
                 <strong>Minimo {{ descripcion.errors.minlength.requiredLength }} caracteres</strong>
               </div>

        </div>

        <div class="form-group">
          <button [disabled]="!forma.valid"
                  type="submit"
                  class="btn btn-outline-primary">
            Guardar
          </button>
        </div>

      </form>

    </div>

  </div>

</div>
