<div class="container main-container">

  <div class="d-flex justify-content-between">
    <h1>Categorias</h1>
    <button [routerLink]="['/categoria', 'nuevo']"
    type="button"
    class="btn btn-outline-primary">
    <i class="fas fa-plus" style="margin-right: 5px;"></i>Agregar
  </button>
  </div>


  <br>
  <br>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>No.</th>
        <th>ID</th>
        <th [class.active]="order1 === 'nombre'"
            (click)="sortTable('nombre')">
          Nombre
          <span [hidden]="reverse">▼</span
          ><span [hidden]="!reverse">▲</span>
        </th>
        <th>Descripción</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of listaOrdenada | sortingCategory:path:order; let i = index">
        <th>{{ i + 1 }}</th>
        <th>{{ categoria.id }}</th>
        <td>{{ categoria.nombre }}</td>
        <td>{{ categoria.descripcion }}</td>
        <td class="text-right w120">
          <button [routerLink]="['/categoria', i]"
                  type="button" class="btn btn-outline-success">
            Editar <i class="far fa-edit"></i>
          </button>
          <!-- Button trigger modal -->
          <button (click)="setValor(i)" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
            Eliminar <i class="far fa-trash-alt"></i>
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><strong>Confirmación</strong></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="text-center modal-body">
                  Esta Seguro Que Quiere Eliminar la Categoria
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Cancelar</button>
                  <button (click)="borrarCategoria()" data-dismiss="modal"
                          type="button" class="btn btn-outline-danger">
                    Aceptar <i class="far fa-trash-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
